[doc]
endpoint="https://invoice-doc.cognitiveservices.azure.com/"
key="AKEjO8eCrklgsN9mwNrqX1z7KjdV7xkFR4kw1eP1TmBi5eRIGX8lJQQJ99BAACYeBjFXJ3w3AAALACOGfEKi"
 
 
[gpt]
endpoint="https://makeathon-ya.openai.azure.com/"
deployment="gpt-4o"
key="83fWSqOVcg1rJv2VjPHPYlZb63pzyYE3x2MieRoWKS84sI9U9EYQJQQJ99BAACYeBjFXJ3w3AAABACOGXnur"